<div class="mat-content">
  <h2 class="hm-nhs-u-title">Xin lỗi, Bạn không được phép!</h2>

  <img src="../../../../assets/Not-Sign-In.png" class="hm-nhs-u-img">

  <ion-grid no-padding class="hm-nhs-u-description">
    <ion-row>
      <ion-col no-padding size="2">
        <span class="hm-nhs-u-bullets">1</span>
      </ion-col>
      <ion-col no-padding size="10">
        Để sử dụng chức năng <b>Nộp hồ sơ qua mạng</b>. Vui lòng tạo tài khoản?
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col no-padding size="2">
        <span class="hm-nhs-u-bullets">2</span>
      </ion-col>
      <ion-col no-padding size="10">
        Nếu đã có tài khoản, Quý khách vui lòng <b>đăng nhập</b> để sử dụng chức năng này.
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ion-footer class="mat-footer-fixed">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <ion-button color="light" fill="clear" routerLink="/menu/registry">ĐĂNG KÝ</ion-button>
      <span class="fill-remaining-space"></span>
      <ion-button color="light" fill="clear" routerLink="/menu/login">Đăng nhập</ion-button>
    </mat-toolbar-row>
  </mat-toolbar>
</ion-footer>