<app-navbar [title]="' '" [isMenu]="false"></app-navbar>
<ion-content style="position: absolute;">
  abcfdsfsdffasfs
  fsdfasdfs
  dfasdfas
  dfasdfasasdf
  <br>
  dasdasdasdasdasd
  asdasddddsd
  abcfdsfsdffasfs
  fsdfasdfs
  dfasdfas
  dfasdfasasdf
  <br>
  dasdasdasdasdasd
  asdasddddsd
  abcfdsfsdffasfs
  fsdfasdfs
  dfasdfas
  dfasdfasasdf
  <br>
  dasdasdasdasdasd
  asdasddddsd
  abcfdsfsdffasfs
  fsdfasdfs
  dfasdfas
  dfasdfasasdf
  <br>
  dasdasdasdasdasd
  asdasddddsd
  abcfdsfsdffasfs
  fsdfasdfs
  dfasdfas
  dfasdfasasdf
  <br>
  dasdasdasdasdasd
  asdasddddsd
</ion-content>