<app-navbar [title]="' '" [isMenu]="false" [isHideShadow]="true" class="navbar-transparent" [class.show-navbar-background]="showToolbar"></app-navbar>
<ion-content fullscreen no-padding class="hm-tintucdetail" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="hm-tintuc-detail-imgtitle">
    <img src="http://www.hocmon.hochiminhcity.gov.vn/Hnh%20nh%20bn%20tin/2019-4/IMG_1389.jpg">
  </div>
  <div class="mat-content hm-tintucdetail-content">
    <p class="hm-tintuc-news-time">
      <ion-icon name="time"></ion-icon>
      <span>26/03/2019</span>
    </p>
    <h3 class="mat-h3 hm-tintuc-news-title">Ra quân Tổng điều tra dân số và nhà ở năm 2019</h3>
    <p>
      Thực hiện Quyết định số 772/QÐ-TTg ngày 26/6/2018 của Thủ tướng Chính phủ về tổ chức Tổng điều tra dân số và nhà
      ở
      năm 2019, bắt đầu từ hôm nay, 01/4/2019, 12 xã - thị trấn trên địa bàn huyện tiến hành triển khai thu thập thông
      tin Tổng điều tra dân số và nhà ở. Trong đó, đơn vị thị trấn Hóc Môn được chọn làm điểm tiến hành Lễ Ra quân và
      tiến hành thu thập điều tra dân số. Dự Lễ Ra quân có đồng chí Võ Hồng Thái - Phó Chi cục Trưởng, Chi cục Thống
      kê
      Thành phố; đồng chí Đỗ Thanh Hòa - Huyện ủy viên, Phó Chủ tịch UBND huyện, Trưởng Ban Chỉ đạo Tổng điều tra dân
      số
      và nhà ở huyện; đồng chí Nguyễn Văn Lĩnh - Chi cục Trưởng Chi cục Thống kê huyện; đồng chí Nguyễn Thị Hồng Nhi -
      Phó Bí thư Thường trực Đảng ủy thị trấn Hóc Môn; đồng chí Lê Thị Mộng Nghi - Phó Bí thư Đảng ủy, Chủ tịch HĐND
      thị
      trấn Hóc Môn; đồng chí Phạm Văn Chiến - Phó Chủ tịch UBND thị trấn Hóc Môn cùng các thành viên Ban Chỉ đạo, các
      điều tra viên. Đây là Tổng điều tra có quy mô lớn, được Tổng cục Thống kê thực hiện 10 năm một lần trên phạm vi
      cả
      nước. Thông tin về dân số và nhà ở thu thập được từ Tổng điều tra này có ý nghĩa rất quan trọng, phục vụ đánh
      giá
      kết quả thực hiện các kế hoạch phát triển kinh tế - xã hội giai đoạn 2011 - 2020, làm căn cứ để xây dựng chiến
      lược và các Kế hoạch phát triển kinh tế - xã hội giai đoạn 2021 - 2030, đánh giá việc thực hiện Nghị quyết của
      Ban
      Chấp hành Trung ương Ðảng khóa XII về công tác dân số trong tình hình mới và giám sát các mục tiêu phát triển
      bền
      vững toàn cầu mà Chính phủ Việt Nam đã cam kết. Bên cạnh đó, thông tin thu thập từ cuộc Tổng điều tra này sẽ sử
      dụng để xây dựng cơ sở dữ liệu tổng hợp quốc gia về dân số và phục vụ cho các mục đích khác của công tác thống
      kê,
      hướng tới năm 2029 và về sau. Năm 2019, Tổng cục Thống kê đưa vào ứng dụng công nghệ thông tin ở hầu hết các
      công
      đoạn, từ thu thập thông tin (bằng phiếu điện tử trên thiết bị điện tử di động - CAPI; phiếu trực tuyến -
      webform)
      đến khâu tiếp nhận, xử lý, tổng hợp, phân tích thông tin điều tra.
    </p>
    <p>
      Phát biểu tại Lễ Khai mạc đồng chí Đỗ Thanh Hòa đề nghị thành viên Ban Chỉ đạo các xã - thị trấn tăng cường tập
      trung triển khai thực hiện, theo dõi, quản lý, kịp thời báo cáo tiến độ hiệu quả cuộc tổng điều tra, đồng thời
      khi
      điều tra phải chi tiết, cụ thể, rõ ràng, đạt độ chính xác cao, tạo thuận lợi cho người dân khi cung cấp thông
      tin,
      tránh thu thập thông tin thiếu sót. Được biết, sau Lễ Khai mạc, Đoàn xe hoa tuyên truyền về cuộc tổng điều tra
      dân
      số và nhà ở năm 2019 đã tiến hành diễu hành tuyên truyền trên các tuyến đường trọng điểm trên địa bàn huyện.
      Riêng
      với Ban Chỉ đạo tổng điều tra dân số và nhà ở đơn vị thị trấn Hóc Môn đã tiến hành trực tiếp thu thập thông tin
      tại các hộ dân Khu phố 8.

      THU NGỌC
    </p>
  </div>
  <div class="mat-content hm-tintuc-relatenews">
    <h3 class="hm-tintuc-smalltitle"><b>Tin tức liên quan</b></h3>
    <ion-list no-padding>
      <ion-item lines="none" no-padding>
        <ion-grid no-padding>
          <ion-row>
            <ion-col no-padding>
              <p class="hm-tintuc-news-time">
                <ion-icon name="time"></ion-icon>
                <span>18/03/2019</span>
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding size="8" class="hm-tintuc-news-content">
              <h3 class="hm-tintuc-news-title">
                PHÒNG GIAO DỊCH NGÂN HÀNG CHÍNH SÁCH XÃ HỘI HUYỆN - Hội nghị Triển khai nhiệm vụ năm 2019
              </h3>
              <p class="hm-tintuc-news-subtitle">
                Chiều 04/03, tại Hội trường UBND huyện, đồng chí Đỗ Thanh Hòa - Huyện ủy viên, Phó Chủ tịch...
              </p>
            </ion-col>
            <ion-col no-padding size="4" class="">
              <img src="http://www.hocmon.hochiminhcity.gov.vn/Hnh%20nh%20bn%20tin/2019-4/IMG_1389.jpg">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="hm-divider">
              <mat-divider></mat-divider>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item lines="none" no-padding>
        <ion-grid no-padding>
          <ion-row>
            <ion-col no-padding>
              <p class="hm-tintuc-news-time">
                <ion-icon name="time"></ion-icon>
                <span>18/03/2019</span>
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding size="8" class="hm-tintuc-news-content">
              <h3 class="hm-tintuc-news-title">
                Khảo sát tiến độ thực hiện 3 dự án đầu tư công
              </h3>
              <p class="hm-tintuc-news-subtitle">
                Sáng 19/3, đồng chí Triệu Đỗ Hồng Phước - Trưởng ban Kinh tế...
              </p>
            </ion-col>
            <ion-col no-padding size="4" class="">
              <img
                src="http://www.hocmon.hochiminhcity.gov.vn/Hnh%20nh%20bn%20tin/2019-4/%C4%91.c%20Tri%E1%BB%87u%20%C4%90%E1%BB%97%20H%E1%BB%93ng%20Ph%C6%B0%E1%BB%9Bc%20ph%C3%A1t%20bi%E1%BB%83u.JPG">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="hm-divider">
              <mat-divider></mat-divider>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item lines="none" no-padding>
        <ion-grid no-padding>
          <ion-row>
            <ion-col no-padding>
              <p class="hm-tintuc-news-time">
                <ion-icon name="time"></ion-icon>
                <span>18/03/2019</span>
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding size="8" class="hm-tintuc-news-content">
              <h3 class="hm-tintuc-news-title">
                UBND XÃ TÂN HIỆP - HTX SX TMDV RAU SẠCH NÊN ĂN
              </h3>
              <p class="hm-tintuc-news-subtitle">
                Tối 12/01, tại địa chỉ 13/1, ấp Thới Tây 2, UBND xã phối hợp HTX Sản xuất TM-DV...
              </p>
            </ion-col>
            <ion-col no-padding size="4" class="">
              <img src="http://www.hocmon.hochiminhcity.gov.vn/Hnh%20nh%20bn%20tin/2019-1/rs.jpg">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>