@import "../components/tin-tuc/tin-tuc.component.scss";

.hm-tintucdetail {
  --background: #e5e5e5;
}

.hm-tintucdetail-content {
  @extend .bg-white;
  padding-bottom: 0;
  margin-bottom: $p-m-8;

  p {
    margin-top: $p-m-8;
  }
}

.hm-tintuc-smalltitle {
  margin-top: 0;
  font-size: $font-size-14;
  opacity: 0.54;
}

.hm-tintuc-relatenews {
  @extend .bg-white;
}

.ion-color-translucent {
  ion-icon, ion-title {
    --color: white;
  }
}
