<ion-split-pane>
  <ion-menu contentId="content">
    <ion-header class="hm-menu-header">
      <img src="../../assets/bg-01.jpg">
      <div class="hm-menu-header-content">
        <div class="hm-menu-avatar">
          <img src="../../assets/employees.svg">
        </div>
        <p>
          <b>Xin chào, Ông/Bà</b>
          <br>
          <i>Chúc một ngày tốt lành!</i>
        </p>
      </div>
    </ion-header>

    <ion-content no-padding>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let link of menuLinks">
          <ion-item lines="none" [routerLink]="link.url" routerDirection="root"
            [class.active-item]="selectedPath === link.url">
            <ion-icon [name]="link.icon" slot="start"></ion-icon>
            <!-- <mat-icon>{{link.icon}}</mat-icon> -->
            {{link.title}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>