<ion-row>
  <ion-col>
    <ion-text>
      <p class="mat-body">
        Cám ơn Ông/Bà đã đăng ký sử dụng dịch vụ
        trực tuyến của UBND Huyện Hóc Môn qua ứng dụng này. Chúng tôi rất vui lòng để phục vụ Ông/Bà tốt nhất!
      </p>
    </ion-text>
    <ion-text>
      <p class="mat-body">
        Mọi thắc mắc và góp ý về ứng dụng vui lòng Ông/Bà nhấn vào
        <ion-text color="primary"><b>Góp ý - Báo lỗi</b></ion-text>
        (hoặc gọi lại đơn vị tiếp dân của
        UBND Huyện Hóc Môn theo số điện thoại: 123456789)
      </p>
    </ion-text>
  </ion-col>
</ion-row>