<!-- <app-navbar [title]="'Đăng ký / Đăng nhập'"></app-navbar> -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/menu/home/0" fill="clear">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Đăng ký / Đăng nhập</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userLoginForm" (ngSubmit)="onSubmitUserLoginForm()">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <h1><b>HÓC MÔN TRỰC TUYẾN</b></h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Tên đăng nhập" type="text" formControlName="tenDangNhap">
            <mat-error *ngIf="userLoginForm.controls.tenDangNhap.hasError('required')">Tên đăng nhập không được để trống.
            </mat-error>
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Mật khẩu" type="password" formControlName="matKhau">
            <mat-error *ngIf="userLoginForm.controls.matKhau.hasError('required')">Mật khẩu không được để trống.</mat-error>
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="block" type="submit">ĐĂNG NHẬP</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text color="medium">
            Chưa có tài khoản?
          </ion-text>
          <ion-text color="primary" routerLink="/menu/registry">
            <b>Đăng ký</b>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>