<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Đăng ký</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <h1><b>HÓC MÔN TRỰC TUYẾN</b></h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Họ và tên" type="text">
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Tên đăng nhập" type="text">
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Mật khẩu" type="password">
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="block" type="submit" (click)="goToPageSuccess()">ĐĂNG KÝ</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>