<ion-split-pane>
  <ion-menu contentId="content">
    <ion-header class="hm-menu-header">
      <img src="../../assets/Bg-01.jpg">
      <div class="hm-menu-header-content">
        <div class="hm-menu-avatar">
          <img src="../../assets/employees.svg">
        </div>
        <p>
          <b>
            Xin chào,
            <ion-text *ngIf="nguoiDungById.length == 0">Ông/Bà</ion-text>
            <ion-text *ngIf="nguoiDungById.length != 0">{{nguoiDungById[0].TenHienThi}}</ion-text>
          </b>
          <br>
          <i>Chúc một ngày tốt lành!</i>
        </p>
      </div>
    </ion-header>

    <ion-content no-padding>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item lines="none" (click)="goToHomePage(userId)" class.active-item="selectedPath === link.url">
            <ion-icon name="home" slot="start"></ion-icon>
            Trang chủ
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let link of menuLinks">
          <ion-item lines="none" [routerLink]="link.name === 'home' ? [link.url, userId] : link.url"
            routerDirection="root" [class.active-item]="selectedPath === link.url">
            <ion-icon [name]="link.icon" slot="start"></ion-icon>
            {{link.title}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <!-- Login / Register -->
      <ion-list>
        <ion-menu-toggle *ngIf="userId === 0" auto-hide="false">
          <ion-item lines="none" routerLink="/menu/login" routerDirection="root"
            class.active-item="selectedPath === /menu/login">
            <ion-icon name="people" slot="start"></ion-icon>
            Đăng nhập
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="userId != 0" auto-hide="false">
          <ion-item lines="none" (click)="logout()">
            <ion-icon name="log-out" slot="start"></ion-icon>
            Đăng xuất
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>