@import '../../../../assets/hm-styles/hm-building-style';

.hm-nhs-d-list {
    padding: $p-m-8 $p-m-16;
    margin-bottom: $p-m-8;

    ion-row {
        margin-bottom: $p-m-8;
    }
}

.hm-nhs-d-button {
    margin-bottom: $p-m-8;
}

.hm-nhs-d-content {
    padding-left: $p-m-16;
}