<ion-row no-padding class="ion-text-center">
  <ion-col>
    <ion-text color="danger">
      <h3>Cám ơn Ông/Bà đã nộp hồ sơ!</h3>
    </ion-text>
    <ion-text>
      <h4 class="mat-h4 ion-no-margin-bottom">
        Hồ sơ đã được chuyển đến Bộ phận Tiếp nhận và Trả kết quả của UBND huyện Hóc Môn.
      </h4>
    </ion-text>
  </ion-col>
</ion-row>
<ion-row no-padding>
  <ion-col>
    <ion-card>
      <ion-item lines="none">
        <ion-icon name="document"></ion-icon>
        <ion-label class="ion-margin-start ion-text-wrap" color="medium">Thông tin hồ sơ</ion-label>
      </ion-item>

      <ion-card-content class="ion-no-padding-top">
        <ion-text color="primary">
          <h3 class="mat-h3"><b>Đăng ký thành lập hộ kinh doanh</b></h3>
        </ion-text>
        <ion-grid>
          <ion-row>
            <ion-col size="4" class="ion-text-end">
              Ông/Bà:
            </ion-col>
            <ion-col size="8">
              <ion-label color="dark">Nguyễn Văn A</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4" class="ion-text-end">
              Ngày gửi:
            </ion-col>
            <ion-col size="8">
              <ion-label color="dark">
                16:00 - 10/04/2019
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>

      <mat-divider></mat-divider>

      <ion-item lines="none">
        <ion-icon name="document"></ion-icon>
        <ion-label class="ion-margin-start ion-text-wrap" color="medium">Lưu ý</ion-label>
      </ion-item>

      <ion-card-content class="ion-no-padding-top">
        <ion-label color="dark">
          <i>Ông/Bà cần chuẩn bị đầy đủ hồ sơ (Bản chính) để nộp cho cơ quan chức năng khi kiểm tra thực địa.</i>
        </ion-label>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>