/*
 *  VARIABLES
*/
//color
$color-red: #D70000;
$color-blue: #019AE8;
$color-grey: #E5E5E5;

//font-size
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;

//padding & margin
$p-m-8: 8px;
$p-m-16: 16px;

/*
 *  BUILDING CLASSES
*/
.bg-white {
    background-color: white;
}

%position-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
}