/*
 *  VARIABLES
*/
//color
$color-red: var(--ion-color-danger);
$color-blue: var(--ion-color-primary);
$color-grey: var(--ion-color-medium);

//font-size
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;

//padding & margin
$p-m-8: 8px;
$p-m-16: 16px;
$p-m-toolbars: 56px;
$p-m-tabs: 48px;

/*
 *  BUILDING CLASSES
*/
.bg-white {
    background-color: white;
}

%position-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
}

%position-fixed {
    position: fixed;
    width: 100%;
}

%position-rm-top {
    top: initial !important;
}