@import "./hm-building-style";
@import '~@angular/material/theming';

//Color
.hm-red {
  color: $color-red;
}
.hm-blue {
  color: $color-blue;
}

//Stying
.mat-content {
  padding: $p-m-16 $p-m-8 $p-m-8 $p-m-8 !important;
}

.hm-divider {
  padding: $p-m-16 0;
}

ion-content {
  --padding-bottom: 8px;
  --padding-end: 8px;
  --padding-start: 8px;
  --padding-top: 16px;
}

.navbar-transparent {
  .header-md:after {
    display: none;
  }

  .mat-toolbar {
    transition: ease 0.3s;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    background: transparent;
  }

  &.show-navbar-background {
    .header-md:after {
      display: block;
    }

    .mat-toolbar {
      background: $color-blue;
    }
  }
}

.mat-toolbar-shadow {
  @include mat-elevation(3);

  &.isHideShadow {
    box-shadow: none;
  }
}

.mat-tabs-shadow {
  .mat-tab-header {
    @include mat-elevation(3);
  }
}

.mat-footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.ion-page {
  justify-content: start;
}

.mat-tab-header {
  z-index: 2;
}

.mat-tabs-bottom-fixed {
  .mat-tab-header {
    @extend .mat-footer-fixed;
  }

  .mat-tab-body-wrapper {
    padding-bottom: 48px;
  }
}