//Variables
@import "./hm-building-style";

//Color
.hm-red {
  color: $color-red;
}
.hm-blue {
  color: $color-blue;
}

//Stying
.mat-content {
  padding: $p-m-16 $p-m-8 $p-m-8 $p-m-8 !important;
}

.hm-divider {
  padding: $p-m-16 0;
}

ion-content {
  --padding-bottom: 8px;
  --padding-end: 8px;
  --padding-start: 8px;
  --padding-top: 16px;
}

.position-absolute {
  position: absolute;
}

.navbar-transparent {
  .header-md:after {
    display: none;
  }

  .mat-toolbar {
    background: transparent;
  }
}
