@import "~@angular/material/theming";

@include mat-core();

$hm-app-primary: mat-palette($mat-light-blue);
$hm-app-accent: mat-palette($mat-light-blue);
$hm-app-theme: mat-light-theme($hm-app-primary, $hm-app-accent);

@include angular-material-theme($hm-app-theme);
