<app-navbar [title]="'Hóc Môn Trực Tuyến'" [isHideShadow]="true"></app-navbar>

<ion-content no-padding>
  <mat-tab-group mat-stretch-tabs [backgroundColor]="'primary'" class="mat-tabs-shadow">
    <mat-tab label="TIN TỨC">
      <app-tin-tuc></app-tin-tuc>
    </mat-tab>
    <mat-tab label="NỘP HỒ SƠ">
      <app-nop-ho-so-unregistry [hidden]="false"></app-nop-ho-so-unregistry>
      <app-nop-ho-so-registried [hidden]="true"></app-nop-ho-so-registried>
    </mat-tab>
    <mat-tab label="NGƯỜI DÙNG">
      <app-nguoi-dung></app-nguoi-dung>
    </mat-tab>
  </mat-tab-group>
</ion-content>